/* Réinitialisation des styles */
*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MES VARIABLES DE COULEUR */
:root{
    --black: #000;
    --black-50: rgba(0, 0, 0, 0.5);
    --black-700: #1d1d1d;
    --white: #fff;
    --gray-50: #ededed;
    --gray-200: #cdcdcd;
    --gray-800: #676767;
}
::selection{
    background-color: var(--black-700);
    color: white;
}

/* Styles de base */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--gray-50);
}
img{
    width: 100%;
    object-fit: cover;
}
a{
    display: inline-block;
    text-decoration: none;
    color: var(--black);
}
ul{
    list-style: none;
}
h1{
    line-height: 1.3;
}
p{
    line-height: 1.4;
}
.flex{
    display: flex;
}
.ctn-btn{
    margin-top: 30px;
}
.ctn-btn a{
    padding: 10px 14px;
    color: var(--white);
    border-left: 3px solid var(--white);
    border-right: 3px solid var(--white);
    position: relative;
    z-index: 1;
}
.ctn-btn a::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--white);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}
.ctn-btn a:hover{
    color: var(--black);
}
.ctn-btn a:hover::before{
    transform: scaleX(1);
}

/* ENTETE DU SITE */
.banniere{
    min-height: 100vh;
    position: relative;
}
.banniere::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 105vh;
    height: 100%;
    background-color: var(--black);
    z-index: -1;
    clip-path: polygon(12.5% 0%, 100% 0%, 99.1% 100%, 0% 100%);

}
#main-header{
    padding: 30px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-header #title{
    font-size: 1.75rem;
}
#main-header nav ul.flex{
    align-items: center;
    gap: 50px;
}
#main-header nav ul.flex a{
    color: var(--white);
    position: relative;
}
#main-header nav ul.flex li:nth-child(1) a::before,
#main-header nav ul.flex li:nth-child(2) a::before,
#main-header nav ul.flex li:nth-child(3) a::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    border-radius: 9999px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s linear;
}
#main-header nav ul.flex li:nth-child(1) a:hover::before,
#main-header nav ul.flex li:nth-child(2) a:hover::before,
#main-header nav ul.flex li:nth-child(3) a:hover::before{
    transform: scaleX(1);
}
#main-header nav ul.flex a#active{
    padding: 12px 20px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 9999px;
    text-transform: uppercase;
}

/* SECTION PRESENTATION */
#section-presentation {
    padding: 0 80px;
    display: flex;
    gap: 350px;
}
#section-presentation div.firstelement{
    margin-top: 100px;
}
#section-presentation div:first-of-type p:first-of-type{
    font-size: 1.125rem;
    font-weight: 700;
}
#section-presentation div:first-of-type h1{
    font-size: 2.875rem;
    margin-top: 30px;
    letter-spacing: 3px;
}
#section-presentation div:first-of-type p:last-of-type{
    color: var(--gray-800);
    font-weight: 700;
}
#section-presentation .reseaux-contact{
    margin-top: 80px;
    align-items: center;
    gap: 15px;
}
#section-presentation .reseaux-contact a{
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    background-color: var(--gray-200);
    box-shadow: 0 1px 1px var(--black-50),
                -0 -0 1px var(--black-50);
    border-radius: 4px;
}
#section-presentation .position-relative{
    position: relative;
}
#section-presentation .description-image{
    max-width: 150px;
    position: absolute;
    right: 220px;
    bottom: 20px;
    line-height: 1.3;
}

/* SECTION BERRIES */
#section-berries{
    height: max-content;
    background: var(--black-700) url(images/logoITB.png) no-repeat 100% 0%;
}
#section-berries div:nth-child(1){
    max-width: 1000px;
    padding: 30px 50px;
}
#section-berries h1{
    margin-bottom: 14px;
    color: var(--white);
}
#section-berries p{
    color: var(--white);
}

/* SECTION ABOUT */
#section-about{
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-about h1{
    border: 5px solid var(--black);
    padding: 10px 32px;
    margin-bottom: 30px;
}
#section-about h1 ~ p{
    text-align: center;
}
#section-about .ctn-btn{
    margin-block: 50px;
}
#section-about .ctn-btn a{
    color: var(--black);
    border-left-color: var(--black);
    border-right-color: var(--black);
}
#section-about .ctn-btn a::before{
    background-color: var(--black);
}
#section-about .ctn-btn a:hover{
    color: var(--white);
}
#section-about .flex-about{
    margin-top: 80px;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
}
#section-about .flex-about article{
    width: 45%;
}
#section-about .flex-about article h2{
    margin-bottom: 14px;
    position: relative;
}
#section-about .flex-about article:nth-child(1) h2::before{
    content: url(images/pen_log.png);
    position: absolute;
    left: -40px;
    top: -20px;
    
}
#section-about .flex-about article:nth-child(2) h2::before{
    content: url(images/maintenance--v3\ 1.png);
    position: absolute;
    left: -55px;
    top: -25px;
}
#section-about .flex-about article:nth-child(3) h2::before{
    content: url(images/settings_logo.png);
    position: absolute;
    left: -55px;
    top: -30px;
}