/* Réinitialisation des styles */
*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MES VARIABLES DE COULEUR */
:root{
    --black: #000;
    --black-50: rgba(0, 0, 0, 0.5);
    --black-700: #1d1d1d;
    --white: #fff;
    --gray-50: #ededed;
    --gray-200: #cdcdcd;
    --gray-800: #676767;
}
::selection{
    background-color: var(--black-700);
    color: white;
}

/* Styles de base */
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--gray-50);
}
img{
    width: 100%;
    object-fit: cover;
}
a{
    display: inline-block;
    text-decoration: none;
    color: var(--black);
}
ul{
    list-style: none;
}
h1{
    font-size: 1.625rem;
    line-height: 1.3;
}
h2{
    font-size: 1.5rem;
    line-height: 1.3;
}
p{
    font-size: 1rem !important;
    line-height: 1.4;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}
.ctn-btn{
    margin-top: 30px;
}
.ctn-btn a{
    padding: 10px 14px;
    color: var(--white);
    border-left: 3px solid var(--white);
    border-right: 3px solid var(--white);
    position: relative;
    z-index: 1;
}
.ctn-btn a::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--white);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}
.ctn-btn a:hover{
    color: var(--black);
}
.ctn-btn a:hover::before{
    transform: scaleX(1);
}
#section-about h1,
#section-skills h1,
#section-contact h1{
    width: 200px;
    border: 5px solid var(--black);
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
}
.separate-black{
    margin-top: 100px;
}

/* ENTETE DU SITE */
.banniere{
    position: relative;
}
.banniere::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 100%;
    background-color: var(--black);
    z-index: -1;
    clip-path: polygon(12.5% 0%, 100% 0%, 99.1% 100%, 0% 100%);

}
#main-header{
    width: 100%;
    padding: 30px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main-header #title{
    font-size: 1.75rem;
}
#main-header nav ul.flex{
    align-items: center;
    gap: 50px;
}
#main-header nav ul.flex a{
    color: var(--white);
    position: relative;
}
#main-header nav ul.flex li:nth-child(1) a::before,
#main-header nav ul.flex li:nth-child(2) a::before,
#main-header nav ul.flex li:nth-child(3) a::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    border-radius: 9999px;
    background-color: var(--white);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s linear;
}
#main-header nav ul.flex li:nth-child(1) a:hover::before,
#main-header nav ul.flex li:nth-child(2) a:hover::before,
#main-header nav ul.flex li:nth-child(3) a:hover::before{
    transform: scaleX(1);
}
#main-header nav ul.flex a#active{
    padding: 12px 20px;
    background-color: var(--white);
    color: var(--black);
    border-radius: 9999px;
    text-transform: uppercase;
}

/* SECTION PRESENTATION */
#section-presentation {
    padding: 0 80px;
    display: flex;
    gap: 350px;
}
#section-presentation div.firstelement{
    margin-top: 100px;
}
#section-presentation div:first-of-type p:first-of-type{
    font-size: 1.125rem;
    font-weight: 700;
}
#section-presentation div:first-of-type h1{
    font-size: 2.875rem;
    margin-top: 30px;
    letter-spacing: 3px;
}
#section-presentation div:first-of-type p:last-of-type{
    color: var(--gray-800);
    font-weight: 700;
}
#section-presentation .reseaux-contact{
    margin-top: 80px;
    align-items: center;
    gap: 15px;
}
#section-presentation .reseaux-contact a{
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    background-color: var(--gray-200);
    box-shadow: 0 1px 1px var(--black-50),
                -0 -0 1px var(--black-50);
    border-radius: 4px;
}
#section-presentation .position-relative{
    position: relative;
}
#section-presentation .description-image{
    max-width: 150px;
    position: absolute;
    right: 220px;
    bottom: 10px;
    line-height: 1.3;
}

/* SECTION BERRIES */
#section-berries{
    background: var(--black-700) url(images/logoITB.png) no-repeat 100% 0%;
}
#section-berries div:nth-child(1){
    max-width: 1000px;
    padding: 30px 50px;
}
#section-berries h1{
    margin-bottom: 14px;
    color: var(--white);
}
#section-berries p{
    color: var(--white);
}

/* SECTION ABOUT */
#section-about{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-about h1 ~ p{
    text-align: center;
}
#section-about .hidden{
    display: none;
}
#section-about .ctn-btn{
    margin-block: 50px;
}
#section-about .ctn-btn a{
    color: var(--black);
    border-left-color: var(--black);
    border-right-color: var(--black);
}
#section-about .ctn-btn a::before{
    background-color: var(--black);
}
#section-about .ctn-btn a:hover{
    color: var(--white);
}
#section-about .flex-about{
    margin-top: 80px;
    justify-content: space-evenly;
    gap: 50px;
    flex-wrap: wrap;
}
#section-about .flex-about article{
    width: 45%;
}
#section-about .flex-about article h2{
    margin-bottom: 14px;
    position: relative;
}
#section-about .flex-about article:nth-child(1) h2::before{
    content: url(images/pen_log.png);
    position: absolute;
    left: -40px;
    top: -20px;
    
}
#section-about .flex-about article:nth-child(2) h2::before{
    content: url(images/maintenance--v3\ 1.png);
    position: absolute;
    left: -55px;
    top: -25px;
}
#section-about .flex-about article:nth-child(3) h2::before{
    content: url(images/settings_logo.png);
    position: absolute;
    left: -55px;
    top: -30px;
}

/* SECTION SKILLS */
#section-skills{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 50px;
    display: flex;
    flex-direction: column;
}
#section-skills h1{
    align-self: center;
}
#section-skills .content-skills {
    flex-direction: column;
    gap: 50px;
}
#section-skills .grid-one-section-skills{
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
#section-skills .grid-one-section-skills figure{
    max-width: 20%;
    width: 100%;
    text-align: center;
}
#section-skills .grid-one-section-skills figure:nth-child(even),
 #section-skills .grid-one-section-skills figure:nth-child(odd){
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-skills .grid-one-section-skills figure img{
    width: 60px;
    height: auto;
    margin-bottom: 10px;
}
#section-skills .grid-one-section-skills figure .mongodb{
    width: 35px;
    height: auto;
}

/* SECTION CONTACT */
#section-contact{
    max-width: 1200px;
    padding: 80px 50px;
    margin: 0 auto;
}
#section-contact header{
    display: grid;
    place-items: center;
}
#section-contact header p{
    text-align: center;
}
#section-contact .separate-black{
    margin-top: 20px;
}
#section-contact form{
    max-width: 600px;
    width: 100%;
    margin: 80px auto 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#section-contact form input,
#section-contact form textarea{
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: 0.875rem;
    border: none;
    outline: none;
    background-color: var(--gray-50);
    border-left: 4px solid var(--black);
    border-bottom: 4px solid var(--black);
}
#section-contact form textarea{
    resize: none;
    height: 150px;
}
#section-contact form input::placeholder,
#section-contact form textarea::placeholder{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}
#section-contact form div:nth-child(5){
    align-self: center;
}
#section-contact form button{
    display: inline-block;
    border: none;
    outline: none;
    width: 200px;
    padding: 10px;
    margin-top: 10px;
    font-weight: 700;
    color: var(--black);
    border-left: 3px solid var(--black);
    border-right: 3px solid var(--black);
    background-color: var(--gray-50);
    position: relative;
    z-index: 1;
    cursor: pointer;
}
#section-contact form button::before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--black);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}
#section-contact form button:hover{
    color: var(--white);
    border: none;
}
#section-contact form button:focus{
    outline: 2px solid var(--black-700);
    outline-offset: 2px;
}
#section-contact form button:hover::before{
    transform: scaleX(1);
}

/* FOOTER DU SITE */
footer{
    padding: 50px 24px 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--black-700);
    color: var(--white);
}
footer a{
    font-weight: 600;
    color: var(--white);
}
footer .links-reseaux{
    align-items: center;
    gap: 20px;
}
footer .links-reseaux img{
    width: 24px;
}
footer span{
    font-weight: 700;
}

/* LES MEDIAS QUERIES */
@media (width <= 1150px){
    /* ENTETE DU SITE */
    .banniere::before{
        content: '';
        display: block;
        position: absolute;
        top: 30%;
        right: 0;
        bottom: 0;
        width: 70vw;
        height: 50%;
        background-color: var(--black);
        z-index: -50;
        clip-path: none;
        display: none;
    }
    #main-header nav ul.flex a{
        color: var(--black);
        position: relative;
    }
    #main-header nav ul.flex li:nth-child(1) a::before,
    #main-header nav ul.flex li:nth-child(2) a::before,
    #main-header nav ul.flex li:nth-child(3) a::before{
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 100%;
        height: 2px;
        border-radius: 9999px;
        background-color: var(--black);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.2s linear;
    }
    #main-header nav ul.flex li:nth-child(1) a:hover::before,
    #main-header nav ul.flex li:nth-child(2) a:hover::before,
    #main-header nav ul.flex li:nth-child(3) a:hover::before{
        transform: scaleX(1);
    }
    #main-header nav ul.flex a#active{
        padding: 12px 20px;
        background-color: var(--black);
        color: var(--white);
        border-radius: 9999px;
        text-transform: uppercase;
    }
    /* SECTION PRESENTATION */
    #section-presentation {
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

}

@media (width <= 1024px){
    /* SECTION SKILLS */
    #section-skills .grid-one-section-skills figure:nth-child(even),
    #section-skills .grid-one-section-skills figure:nth-child(odd){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
}

@media (width <= 885px){
    /* ENTETE DU SITE */
    #main-header{
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /* SECTION PRESENTATION */
    #section-presentation {
        padding: 0 40px 30px;
        gap: 0;
        flex-direction: column;
        background-color: var(--black);
        position: relative;
    }
    #section-presentation::after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2px;
        width: 100%;
        height: 60%;
        background-color: rgba(119, 119, 119, 0.8);
        z-index: 1;
        clip-path: polygon(0 59%, 100% 34%, 100% 100%, 0% 100%);
    }
    #section-presentation div.firstelement{
        margin-top: 0;
        order: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        position: relative;
        z-index: 200;
    }
    #section-presentation .reseaux-contact{
        margin-top: 30px;
        flex-direction: column;
        gap: 50px;
        position: relative;
        z-index: 200;
    }
    #section-presentation .reseaux-contact a{
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
    }
    #section-presentation .reseaux-contact i{
        width: 14px;
        color: white;
    }
    #section-presentation div:first-of-type h1{
        font-size: 2rem;
        margin-top: 0;
    }
    #section-presentation div:first-of-type h1,
    #section-presentation div:first-of-type p:first-of-type,
    #section-presentation div:first-of-type p:last-of-type{
        color: var(--white);
    }
    #section-presentation .position-relative{
        align-self: flex-end;
    }
    #section-presentation img{
        width: 100vw;
        position: relative;
        z-index: 1;
    }
    #section-presentation .description-image{
        display: none;
    }

}

@media (width <= 640px){
    /* SECTION BERRIES */
    #section-berries div:nth-child(1){
        max-width: 1000px;
        padding: 30px;
        text-align: justify;
    }
    #section-berries .ctn-btn{
        text-align: center;
    }
    /* SECTION ABOUT */
    #section-about h1 ~ p{
        text-align: justify;
    }
    #section-about .hidden{
        display: block;
    }
    /* SECTION SKILLS */
    #section-skills{
        max-width: 1200px;
        margin: 0 auto;
        padding: 80px 30px;
        display: flex;
        flex-direction: column;
    }
    #section-skills .grid-one-section-skills{
        margin-top: 50px;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    /* SECTION CONTACT */
    #section-contact{
        max-width: 1200px;
        padding: 80px 30px;
        margin: 0 auto;
    }
    #section-contact form button{
        width: 100%;
        padding: 12px 32px;
    }
    #section-contact form input::placeholder,
    #section-contact form textarea::placeholder{
        font-weight: 400;
    }
    
}

@media (width <= 600px){
    #main-header div:nth-child(2){
        display: none;
    }
    /* SECTION PRESENTATION */
    #section-presentation .position-relative{
        align-self: center;
    }
    /* SECTION ABOUT */
    #section-about{
        max-width: 1200px;
        margin: 0 auto;
        padding: 80px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #section-about .flex-about{
        gap: 30px;
    }
    #section-about .flex-about article{
        width: 100%;
        padding: 20px;
        transition: all 0.4s ease-in-out;
    }
    #section-about .flex-about article:hover{
        background-color: var(--white);
        box-shadow: 0 0 1px var(--gray-800);
        transform: translateY(-10px);
    }
    #section-about .flex-about article:nth-child(1) h2::before{
        content: url(images/pen_log.png);
        position: absolute;
        left: 0;
        right: 0;
        top: -20px;
        
    }
    #section-about .flex-about article:nth-child(2) h2::before{
        content: url(images/maintenance--v3\ 1.png);
        position: absolute;
        left: 0;
        right: 0;
        top: -25px;
    }
    #section-about .flex-about article:nth-child(3) h2::before{
        content: url(images/settings_logo.png);
        position: absolute;
        left: 0;
        right: 0;
        top: -30px;
    }
}

@media (width <= 280px){
    /* SECTION PRESENTATION */
    #section-presentation{
        padding-top: 30px;
        padding-inline: 24px;
    }
    #section-presentation::after{
        display: none;
    }
    #section-presentation div.firstelement{
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        gap: 10px;
        padding-block: 20px;
    }
    #section-presentation h1,
    #section-presentation p{
        text-align: center;
    }
    #section-presentation .reseaux-contact{
        flex-direction: row;
        gap: 30px;
    }
    /* SECTION SKILLS */
    #section-skills .grid-one-section-skills{
        grid-template-columns: 100%;
    }

}